[submodule "SVD_Image_Watermarking"]
	path = SVD_Image_Watermarking
	url = https://github.com/erfanasgari21/SVD_Image_Watermarking
[submodule "Markov_Matrices_Business_Cycle"]
	path = Markov_Matrices_Business_Cycle
	url = https://github.com/erfanasgari21/Markov_Matrices_Business_Cycle
[submodule "LSA_News_Classification"]
	path = LSA_News_Classification
	url = https://github.com/erfanasgari21/LSA_News_Classification
